<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body>
      <div>
          <lable> Name:</lable>
          <input type="text" ng-model="yourname" placeholder="Enter your name">
          <label>Location: </label>
          <input type="text" ng-model="yourlocation" placeholder="Enter your Location">

          <hr>
          <h1> Hello {{yourname}}!.your location is {{yourlocation}}</h1>
      </div>
  </body>
  </html>