<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Corona </title>
    </head>
    <body ng-app="coronaApp" ng-controller="coronaController">
        <h1>Corona Dashboard</h1>
    
    <label><b> State Name </b><br></label>
    <input type="text" name="state" id="state" ng-model="state" placeholder="Enter State name"><br>
    <label> <b>Total</b> <br></label>
    <input type="number" name="total" id="total" ng-model="total" placeholder="Enter Total"><br>
    <label><b> Active </b><br></label>
    <input type="number" name="active" id="active" ng-model="active" placeholder="Enter Active Number"><br>
    <label><b> Recovered </b><br></label>
    <input type="number" name="recover" id="recover" ng-model="recover" placeholder="Enter Recovered Number"><br>
    <label><b> Death Count </b><br></label>
    <input type="number" name="dead" id="dead" ng-model="dead" placeholder="Enter Death Count"><br>

    <button ng-click="Submit()" >Submit</button>
    <br>
    <br>
    <table id="result">
        <tr>
            <th> State Name</th>
            <th> Total Cases</th>
            <th> Active Cases</th>
            <th> Recovered</th>
        <th>Death Count</th>
        </tr>
        <tr ng-repeat="cases in coronalist">
         <td> {{cases.state}}</td>
         <td> {{cases.total}}</td>
         <td> {{cases.active}}</td>
         <td> {{cases.recover}}</td>
         <td> {{cases.dead}}</td>

        </tr>


</table>

    <script> 
        var app=angular.module("coronaApp",[]);
        app.controller("coronaController",function($scope){
            $scope.coronaData=[];
         $scope.Submit=function(){
             data=new coronalist($scope.state,$scope.total,$scope.active,$scope.recover,$scope.dead);
             $scope.coronaData.push(data);


         };
        });
    </script>
    </body>
    </html>

    
            
     
   
   

    
